
.add-section-btn {
    border: 1px dashed #e0e0e0;
    background-color: transparent;
    color: #8A97AC;
    width: 100%;
  }
  
  .add-section-btn:hover {
    background-color: transparent;
    color: black;
    cursor: pointer;
  }