form {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    background-color: #F5F6F7;
    border-radius: 0px 0px 6px 6px;
    
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}


.login-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -100%);
  
}

table {
    margin-top: 20px;
    border: solid 1px #e0e0e0;
    border-radius: 8px;
    text-align: center;
    background-color: #F5F6F7;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.10);
}

.login-modal {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.10);
}

.login-header {
    background-color: white;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 8px 8px 0px 0px;
}

.login-header h4{
    font-size: 24px;
    font-weight: 400;
}

label {
    color: #52555B;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
   
}

input {
    height: 46px;
    width: 432px;
    border: 1px solid #e0e0e0;
    font-family: "Rubik";
    text-indent: 10px;
    border-radius: 8px;
}

.submit-button {
    background-color: #254CDD;
    color: white;
    font-family: "Rubik";
    height: 46px;
    width: 438px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #0D2A93;
}

.page {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(90deg, #5035F5 0%, #4FA6F8 100%) !important;
}

.alchemy-logo {
    padding-top: 2%;
    width: 175px;
}

