.modal-container {    
    background-color: #F5F6F7;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.modal-header-container {
    display: flex;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
    border-bottom: 1px solid #E0E0E0;
    background-color: white;
}

.modal-header-items {
    display: flex;
    gap: 10px;
}

.modal-header-text {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.modal-header-text-subtitle {
    color: #8A97AC;
    font-size: 12px;
}


.modal-header-logo {
    width: 60px;
    height: 60px;
    
}

.modal-header-text-header {
    font-weight: 400;
    font-size: 24px;
}


.modal-subitem-logo-frame{
    display: flex;
    align-items: center;
    height: 60px;
    width: 60px;
    padding-left: 10px;
}

.subitem-logo {
    width: 42px;
    height: 42px;
}

.modal-subitem-container {
    display: flex;
}

.modal-subitem-container a {
    text-decoration: none;
}

.modal-subitem-items {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px; 
    gap: 10px;
}
.modal-subitem-text {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-subitem-text-subtitle {
    color: #8A97AC;
    font-size: 12px;
}

.modal-subitem-text-header {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    color: #4C84FF;
}

.modal-divider {
    margin-left: 10px;
    margin-right: 10px;
}

.modal-divider hr {
    border: 1px solid #E0E0E0;
}


.modal-popup-btn {
    background-color: black;
    width: 125px;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;

}

.admin-btn-container {
    padding-left: 25%;
}