@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  background-color: #F5F6F7;
}
.content {
  margin: 0;
  font-family: 'Rubik';
  height: 100vh;
}

h1 {
  text-align: center;
}

.modal-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 250px;
  
}

h2 {
  font-weight: 400;
  font-size: 32px;
}

.modal-flex-vertical {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

button {
  background-color: transparent;
  color: white;
  font-family: "Rubik";
  border: 1px solid white;
  padding: 5px 20px 5px 20px;
}

.modal-wrappers {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
